@media screen and (max-width:1250px) {
    .container{
        max-width: 95%;
        margin: auto;
    }
}

@media screen and (max-width:768px) {
    /* header */
    nav .hamburger{
        display: block;
    }
    nav ul{
        display: none;
    }
    /* banner */
    .banner-section>div>form{
        flex-direction: column;
    }
    /* Destination */
    .destination div{
     grid-column: span 12 !important;
}
}