/* Global style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.font{
     font-family: "Mulish", sans-serif; 
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}
/* Header Section */
nav{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
}
nav>div{
    display: flex;
    gap: 10px;
    align-items: center;
}
nav>div>img{
    width: 50px;
    height:50px; 
}
nav>div>h1{
    font-weight: 900;
    font-size: 36px;
}
nav>div>h1>span {
    color: #FF5400;
}
nav>ul{
    display: flex;
    gap: 25px;
    align-items: center;
    list-style: none;
}
nav>ul a{
    text-decoration: none;
    color:#424247 ;
}
.home a{
   color: #FF5400; 
   font-weight: 800;
}