/* Global style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.font{
     font-family: "Mulish", sans-serif; 
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}
.btn{
    border-radius: 8px;
    padding: 16px 32px;
    background-color: #FF5400;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
.section-header{
    margin-bottom: 13px;
    text-align: center;
    max-width: 643px;
    margin: auto;
    margin-bottom: 20px;

}
.section-header h2{
color: rgba(19, 19, 24, 1);
font-size: 40px;
font-weight: 800;
margin-bottom: 8px;
}
.section-header p{
color: rgba(19, 19, 24, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
/* Header Section */
nav{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
}
nav>div{
    display: flex;
    gap: 10px;
    align-items: center;
}
nav>div>img{
    width: 50px;
    height:50px; 
}
nav>div>h1{
    font-weight: 900;
    font-size: 36px;
}
nav>div>h1>span {
    color: #FF5400;
}
nav>ul{
    display: flex;
    gap: 25px;
    align-items: center;
    list-style: none;
}
nav>ul a{
    text-decoration: none;
    color:#424247 ;
}
.home a{
   color: #FF5400; 
   font-weight: 800;
}
/* Banner Section */
.banner-section{
    background-image:linear-gradient(180.00deg, rgba(19, 19, 24, 0.8) 0%,rgba(19, 19, 24, 0) 100%), url(../images/Group\ 13\ \(1\)\ \(1\).png);
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-top: 40px;
}
.banner-section > div > h2{
    font-size: 64px;
    font-weight: 900;
}
.banner-section > div{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.banner-section>div>form{
  background: rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  gap:10px;
}
.banner-section>div>form select,
.banner-section>div>form input[type='text']{
    padding: 16px;
    border-radius: 8px;
    background: #fff;
    display: block;
    font-size: 16px;
    outline: none;
    border: none;
    color:rgba(19, 19, 24, 0.5) ;
    cursor: pointer;    
}
.btn i{
    margin-right: 8px;
}
/* .banner-section .rounded-mic-parent{
    position: relative;
}
.banner-section .rounded-mic-parent .rounded-shape{
    width: 170px;
    height: auto;
}
.banner-section .rounded-mic-parent .mic{
    width: 70px;
    height: auto;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}
.banner-section .rounded-mic-parent span{
    background-color: #00FF88;
    color: black;
    font-weight: 700;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    border: none;
    position: absolute;
    left: 375px;
    top: 5px;

} */

/* Choose Your Destination */
.destination-section{
    margin: 60px auto;
}
.destination{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
}
.destination div:nth-child(1),
.destination div:nth-child(2){
    grid-column: span 6;
}
.destination div:nth-child(3){
    grid-column: span 4;
}
.destination div:nth-child(4){
    grid-column: span 5;
}
.destination div:nth-child(5){
    grid-column: span 3;
}
.destination div:nth-child(6){
    grid-column: span 5;
}
.destination div:nth-child(7){
    grid-column: span 7;
}
.destination div{
   position: relative;
}
.destination strong{
   position: absolute;
   left: 50%;
   top: 50%;
   transform:translate(-50%, -50%) ;
   font-size: 28px;
   color: #fff;
   font-weight: 700;
}
.destination img{
    width: 100%;
    height: 100%;
}