/* Global style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.font{
     font-family: "Mulish", sans-serif; 
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}
.btn{
    border-radius: 8px;
    padding: 16px 32px;
    background-color: #FF5400;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
/* Header Section */
nav{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
}
nav>div{
    display: flex;
    gap: 10px;
    align-items: center;
}
nav>div>img{
    width: 50px;
    height:50px; 
}
nav>div>h1{
    font-weight: 900;
    font-size: 36px;
}
nav>div>h1>span {
    color: #FF5400;
}
nav>ul{
    display: flex;
    gap: 25px;
    align-items: center;
    list-style: none;
}
nav>ul a{
    text-decoration: none;
    color:#424247 ;
}
.home a{
   color: #FF5400; 
   font-weight: 800;
}
/* Banner Section */
.banner-section{
    background-image:linear-gradient(180.00deg, rgba(19, 19, 24, 0.8) 0%,rgba(19, 19, 24, 0) 100%), url(../images/Group\ 13\ \(1\)\ \(1\).png);
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-top: 40px;
}
.banner-section > div > h2{
    font-size: 64px;
    font-weight: 900;
}
.banner-section > div{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.banner-section>div>form{
  background: rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  gap:10px;
}
.banner-section>div>form select,
.banner-section>div>form input[type='text']{
    padding: 16px;
    border-radius: 8px;
    background: #fff;
    display: block;
    font-size: 16px;
    outline: none;
    border: none;
    color:rgba(19, 19, 24, 0.5) ;
    cursor: pointer;    
}
.btn i{
    margin-right: 8px;
}
