/* Global style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.font{
     font-family: "Mulish", sans-serif; 
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}
.btn{
    border-radius: 8px;
    padding: 16px 32px;
    background-color: #FF5400;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    display: block;
}
.section-header{
    margin-bottom: 13px;
    text-align: center;
    max-width: 643px;
    margin: auto;
    margin-bottom: 20px;

}
.section-header h2{
color: rgba(19, 19, 24, 1);
font-size: 40px;
font-weight: 800;
margin-bottom: 8px;
}
.section-header p{
color: rgba(19, 19, 24, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
/* Header Section */
nav{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
}
nav>div{
    display: flex;
    gap: 10px;
    align-items: center;
}
nav .hamburger{
    display: none;
}
nav>div>img{
    width: 50px;
    height:50px; 
}
nav>div>h1{
    font-weight: 900;
    font-size: 36px;
}
nav>div>h1>span {
    color: #FF5400;
}
nav>ul{
    display: flex;
    gap: 25px;
    align-items: center;
    list-style: none;
}
nav>ul a{
    text-decoration: none;
    color:#424247 ;
}
.home a{
   color: #FF5400; 
   font-weight: 800;
}
/* Banner Section */
.banner-section{
    background-image:linear-gradient(180.00deg, rgba(19, 19, 24, 0.8) 0%,rgba(19, 19, 24, 0) 100%), url(../images/Group\ 13\ \(1\)\ \(1\).png);
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-top: 40px;
}
.banner-section > div > h2{
    font-size: 64px;
    font-weight: 900;
}
.banner-section > div{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.banner-section>div>form{
  background: rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  gap:10px;
}
.banner-section>div>form select,
.banner-section>div>form input[type='text']{
    padding: 16px;
    border-radius: 8px;
    background: #fff;
    display: block;
    font-size: 16px;
    outline: none;
    border: none;
    color:rgba(19, 19, 24, 0.5) ;
    cursor: pointer;    
}
.btn i{
    margin-right: 8px;
}
/* .banner-section .rounded-mic-parent{
    position: relative;
}
.banner-section .rounded-mic-parent .rounded-shape{
    width: 170px;
    height: auto;
}
.banner-section .rounded-mic-parent .mic{
    width: 70px;
    height: auto;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}
.banner-section .rounded-mic-parent span{
    background-color: #00FF88;
    color: black;
    font-weight: 700;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    border: none;
    position: absolute;
    left: 375px;
    top: 5px;

} */
 /* Our Popular Tours */
 .popular-ture {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 100px 0;
    gap: 100px;
    align-items: center;
 }
.popular-ture .ture_content h2{
  font-size: 40px;
  font-weight: 800;
}
.popular-ture .ture_content p{
    font-size:16px;
    margin: 24px 0;
    line-height: 26px;
    color: rgba(19, 19, 24, 0.7);
}
.popular-ture .ture_content span{
    display: block;
    line-height: 26px;
    margin-bottom: 20px;
    margin-left: 30px;
    color: rgba(19, 19, 24, 0.7);
    display: flex;
   align-items: flex-start;
    
}
.popular-ture .ture_content span i{
    font-size: 5px;
    color: rgba(19, 19, 24, 0.7);
    margin-right: 7px;
    margin-top: 10px;
}
.popular-ture .img_content{
   width: 100%;
}

/* Choose Your Destination */
.destination-section{
    margin: 60px auto;
}
.destination{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
}
.destination div:nth-child(1),
.destination div:nth-child(2){
    grid-column: span 6;
}
.destination div:nth-child(3){
    grid-column: span 4;
}
.destination div:nth-child(4){
    grid-column: span 5;
}
.destination div:nth-child(5){
    grid-column: span 3;
}
.destination div:nth-child(6){
    grid-column: span 5;
}
.destination div:nth-child(7){
    grid-column: span 7;
}
.destination div{
   position: relative;
}
.destination strong{
   position: absolute;
   left: 50%;
   top: 50%;
   transform:translate(-50%, -50%) ;
   font-size: 28px;
   color: #fff;
   font-weight: 700;
}
.destination img{
    width: 100%;
    height: 100%;
}
/* Deals & Discounts */
.deals-section{
   margin: 50px auto; 
}
.deals-section .deal{
    background-image:linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.208)), url('../images/deal-2.png') ;
    padding: 65px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    /* justify-content: end; */
    margin-bottom: 25px;
}
.deals-section .deal:nth-child(even){
      background-image:linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.208)), url('../images/deal-1.png') ;
}
.deals-section .deal:nth-child(even){
    justify-content: end;
}
.deals-section .deal .card{
    padding: 35px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.563);
    max-width: 570px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.deals-section .deal .card .btn{
    width: fit-content;
}
.deals-section .deal .icon span{
    margin-right: 20px;
    color: rgba(90, 90, 93, 1);
   font-size: 16px;
}
.deals-section .deal .icon span i{
    margin-right: 5px;
    color: rgba(255, 84, 0, 1);
   font-size: 16px;
}
.deals-section .deal .card h3{
    font-size:20px ;
    font-weight: 900;
    margin: 10px 0;
}
.deals-section .deal .card p{
    font-size:16px ;
    font-weight: 400;
    line-height: 26px;
    color: rgba(90, 90, 93, 1);
}
.deals-section .deal .card .price{
    font-size:20px ;
    font-weight: 800;
    color: #FF5400;
    margin-bottom: 15px;
}
/* Why Choose Us */
.why_choose_section .choose_cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 50px 0;
    gap: 24px;
}
.why_choose_section .card1 h4,
.card2 h4,
.card3 h4{
   font-size: 24px;
   font-weight: 800;
   margin: 26px 0 14px 0;
}
.why_choose_section .card1 p,
.card2 p,
.card3 p{
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   color: rgba(90, 90, 93, 1);
}
.why_choose_section .card1 img,
.card2 img,
.card3 img{
   width: 64px;
   height: 64px;
   /* margin:32px 0 0 32px ; */
}
.why_choose_section .card1 {
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.2);
}
.why_choose_section .card2 {
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.2);
}
.why_choose_section .card3 {
    background: rgba(233, 68, 68, 0.05);
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.2);
   
}
.why_choose_section .choose_cards .card3 {
    grid-column: 1 / -1;   
    justify-self: center; 
    max-width: 570px;
}
/* Perfect place */
 .perfect-place-section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 100px 0;
    gap: 100px;
    align-items: center;
 }
.perfect-place-section .place_content h2{
  font-size: 40px;
  font-weight: 800;
}
.perfect-place-section .place_content p{
    font-size:16px;
    margin: 24px 0;
    line-height: 26px;
    color: rgba(19, 19, 24, 0.7);
}
.perfect-place-section .place_content span{
    display: block;
    line-height: 26px;
    margin-bottom: 20px;
    margin-left: 30px;
    color: black;
    display: flex;
   align-items: flex-start;
   font-weight: 700;
    
}
.perfect-place-section .place_content span i{
    font-size: 5px;
    color: black;
    margin-right: 7px;
    margin-top: 10px;
}
.perfect-place-section .place_img{
   width: 100%;
}
/* Newsletter */
.newsletter-section{
    display: grid;
    grid-template-columns: 35% 65%;
   align-items: center;
   gap:24px;
   margin-bottom: 70px;
}
.newsletter-section .form{
    border: 1px solid rgba(255, 84, 0, 1);
    border-radius: 16px;
    padding: 40px;
}
.newsletter-section .form h3{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}
.newsletter-section .form p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 23px;
}
.newsletter-section .form hr{
    color: rgba(19, 19, 24, 0.1);
    margin-bottom: 24px;
}
.newsletter-section .form input{
    width: 100%;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px;
    margin-bottom: 20px;
    outline: none;
}
.newsletter-section .form input::placeholder{
    color: rgba(19, 19, 24, 0.3);
}
.newsletter-section .form .subscribe_btn{
    background-color: #FF5400;
    width: 100%;
    border: none;
    border-radius:8px;
    padding: 13px 0;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.newsletter-section .news_img{
    background-image: url(../images/Rectangle\ 8\ \(1\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 100%;
    min-height: 422px;
    position: relative;
}
.newsletter-section .news_img .news_text{
    position: absolute;
    background-color: #FF5400;
    color: #fff;
    transform: rotate(-19deg);
    bottom: 54px;
    right: 21px;
    padding:20px 35px;
    border-radius: 16px;   
    text-align: center;
}
.newsletter-section .news_img .news_text p{
    font-size: 14px;
    color: rgb(252, 251, 251);
    margin-bottom: 8px;
}
.newsletter-section .news_img .news_text h4{
    font-size: 20px;    
}